<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rapidops.ar_viewer">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
    <application>
        <activity android:name=".ArViewerActivity" />
    </application>
</manifest>

